<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Kanban</title>
  </head>
  <body>

    <div class="container">

        <div class="row">

          <div id="todoUl" class="col-sm-4">
            <h2 class="text-secondary">A faire</h2>

            <div v-for="task in taskList" class="card">
              <h5 class="card-header ">{{ task.title}}</h5>
              <div class="card-body">
                <p class="card-text">{{ task.text}}</p>
              </div>
            </div>

            <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTask" onClick="formNewTask.show()">Ajouter</button></p>
          </div>

          <div id="doingUl" class="col-sm-4">
            <h2 class="text-secondary">En cours</h2>
 
          </div>


          
          <div id="doneUl" class="col-sm-4">
            <h2 class="text-secondary">Fait</h2>
 
          </div>
            

        </div>

        <div class="modal" tabindex="-1" role="dialog" id="newTask"  >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><input placeholder="Le titre" type="text" class="form-control" v-model="title"/></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">    
                <p><textarea placeholder="Le texte" class="form-control" v-model="text"></textarea></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-primary" @click="add">Save changes</button>
              </div>
            </div>
          </div>
        </div>
 
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="js/main.js"></script>
    <script src="js/formNewTask.js"></script>


    </body>
</html>
